<%- include("../partials/userDashboardHeader") -%>
    <%- include("../partials/userSidebar") -%>
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Start Page Content -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                        <!--address card start-->
                        <h3 class="card-title">Add Address</h3><!-- End .card-title -->

                        <!--Add address form-->
                            <form action="/storeAddress" method="post" >
                                <div class="row">
                                    <div class="col-lg-9">
                                                                                  
                                            <label>Name <span style="color: red;">*</span></label>
                                             <input type="text" class="form-control" name="firstname" required>
                                                
                                             <label>Last Name <span style="color: red;">*</span></label>
                                             <input type="text" class="form-control" name="lastname" required>

                                            <label>Country<span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="country" required>
            
                                            <label>Street address <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" placeholder="House number and Street name" name="streetAddress" required>
                                            
            
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Town / City <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" name="city" required>
                                                </div><!-- End .col-sm-6 -->
            
                                                <div class="col-sm-6">
                                                    <label>State / County <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" name="state" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
            
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Postcode / ZIP <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" name="zip" required>
                                                </div><!-- End .col-sm-6 -->
            
                                                <div class="col-sm-6">
                                                    <label>Phone<span style="color: red;">*</span> </label>
                                                    <input type="tel" class="form-control" name="mno" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
            
                                            <div style="display: flex; flex-direction: row; margin-top: 20px;">
                                            <button type="submit" class="btn btn-outline-success" style="padding-left: 30px; padding-right: 30px;">
                                                <span>Save</span>
                                            </button>
                                                <a href="/addressBook" class="btn btn-outline-secondary" style="margin-left: 15px;"><span><i class="mdi mdi-arrow-left-bold"></i> Go Back</span><i class="icon-long-arrow-right"></i></a>
                                    
                                            </div>
                                        </div><!-- End .col-lg-9 -->
                                </div><!-- End .row -->
                            </form>
                        

                        <!--End add address form-->
                        
                        
                        
                    
                </div>
                <!-- Row -->
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer text-center">
                 All Rights Reserved. 
            </footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
        </div>
        <!-- End Wrapper -->
        <!-- All Jquery -->
        <script src="assets/libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="dist/js/app-style-switcher.js"></script>
        <!--Wave Effects -->
        <script src="dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="dist/js/custom.js"></script>
        </body>
        </html>